@import url("reveal.js/css/theme/solarized.css");

.reveal {
    font-size: 20px;
}

.reveal .circletext {
    border-radius: 50%;

    border: 3px solid red;
    padding: 8px;
    padding-top: 4px;
    padding-right: 4px;
    text-align: center;
}

.reveal .input pre {
  font-size: 100%;
  width: 100%;
}
